{% extends layoutName %}

{% block content %}
    <div class="a-overview__header">
        <div class="a-overview__header-box">
            <p class="a-overview__title a-pairs__title">Top Pairs</p>
           {#  <div class="form__radio vote-filters__checkbox a-pairs__checkbox">
                <input class="form__radio-input" id="vote-filters__checkbox" type="checkbox">
                <label class="form__radio-label" for="vote-filters__checkbox">Hide untracked pairs <i class="table__info"></i></label>
            </div> #}
        </div>
        <form action="" class="a-overview-search">
            <input class="form__input a-overview-search__input" type="text" placeholder="Search Ton Swap pairs and tokens">
        </form>
    </div>
    <div class="a-overview__body">
        <div class="a-overview-t__inner">
            <div class="a-overview-t__body">
                <div class="table-inner a-overview-t__table-inner">
                    <div class="table-container">
                        <table class="table a-overview-t__table">
                            <thead>
                            <tr>
                                <td>Name</td>
                                <td>Liquidity ↓</td>
                                <td>Volune (24hrs)</td>
                                <td>Volune (7d)</td>
                                <td>Fees (24hr)</td>
                                <td>1y Fees / Liquidity <i class="table__info"></i></td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for pair in topPairs %}
                                <tr>
                                    <td>
                                        <div class="table-inline">
                                            <span class="table-number">{{ loop.index }}</span>
                                            <img class="a-overview-t__table-logo" src="{{ pair.tokenIcon1 }}" alt="">
                                            <img class="a-overview-t__table-logo_2" src="{{ pair.tokenIcon2 }}" alt="">
                                            <span>
                                                <a href="/pair/pair/{{ pair.address }}">
                                                    {{ pair.name }}
                                                </a>
                                            </span>
                                        </div>
                                    </td>
                                    <td>$ 1.73b</td>
                                    <td>$ 1.73b</td>
                                    <td>$ 1.73b</td>
                                    <td>$ 1.73b</td>
                                    <td><span class="green">+8,74%</span></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="table-navs">
                            {% if page != 0 %}
                                <div class="table-navs__prev"><a href="/pair/index/{{ page-1 <= 0?'':1 }}">←</a></div>
                            {% endif %}
                            <div class="table-navs__current">Page {{ page }}</div>
                            {% if topPairs|length > 50 %}
                                <div class="table-navs__next"><a href="/pair/index/{{ page+1 }}">→</a></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}